body{
  background-color:#393e46 ;
  /* #557571  */
  color: white;
}
hr{
  border-color: grey;
  border-width: 6px;
  border-style: dotted none none;
  /*border-spacing: 80px;*/
  width: 5%;
}
img{
  height:200px;
  width: 200px;
  border-radius: 25%;
}
h1,h2,h3{
  color: #c1a57b;
}
a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 7.5%;
  margin-right: 1.40%;
  text-align: center;
  line-height: 2;
  color: black;
}
a:link, a:visited, a:focus {
  background: white;
}
a:hover {
  background: #fe7171;
}
#hm{
  text-align: right;
}
